In [23]:
import boto3
import psycopg2
import logging
import csv
import pandas as pd


#To create a log file: 

logging.basicConfig(filename="pipeline.log", level=logging.INFO)

bucket_name='contiamo-challenge'
logging.basicConfig(filename="pipeline.log", level=logging.INFO)
session = boto3.Session( aws_access_key_id="AKIA6NFIZTMI7OVK5WMX",
                  aws_secret_access_key="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")



s3 = session.resource('s3')
s3_c=session.client('s3')
my_bucket = s3.Bucket(bucket_name)


#To connect with PSQL database: 
conn = psycopg2.connect(
    host="localhost",
    port="5432",
    database="contiamo",
    user="postgres",
    password="vijay"
)
cur = conn.cursor()

#created table with the data type: 
def create_table():
    cur.execute("""DROP TABLE IF EXISTS customer_info""")
    cur.execute("""
        CREATE TABLE IF NOT EXISTS customer_info (
            email VARCHAR(50),
            customer_name varchar(40) not null,
            order_id INTEGER,
            product_name VARCHAR(50),
            quantity INTEGER ,
            order_date VARCHAR(50),
            location VARCHAR(50),
            phone VARCHAR(50),
            product_cost INTEGER
        )
    """)
    conn.commit()

#main function: 
def load_data_to_postgres(file_name):
    for my_bucket_object in my_bucket.objects.filter(Prefix="data-engineer-challenge/"):
        if '.csv' in my_bucket_object.key:
            print(my_bucket_object.key)
            obj = s3_c.get_object(Bucket=bucket_name,Key=my_bucket_object.key)
            
    
            #initial_df = pd.read_csv(obj['Body'])
            file_content = obj["Body"].read().decode("utf-8")
            #print('obj["Body"]',obj["Body"])
            reader = csv.DictReader(file_content.splitlines())
            
            for row in reader:
                try:
                    print('try: ',str(row["email"]), str(row["customer_name"]), str(row["order_id"]),str(row["product_name"]), str(row["quantity"]),str(row["order_date"]),str(row["location"]),str(row["phone"]), str(row["product_cost"]))

                    cur.execute("""
                        INSERT INTO customer_info (
                            email,
                            customer_name,
                            order_id,
                            product_name,
                            quantity,
                            order_date,
                            location,
                            phone,
                            product_cost
                        ) VALUES (
                            %s, %s, %s, %s, %s, %s, %s, %s, %s
                            )""",
                        (str(row["email"]),  str(row["customer_name"]).replace(" ",""), str(row["order_id"]),str(row["product_name"]), str(row["quantity"]),str(row["order_date"]),str(row["location"]),str(row["phone"]), str(row["product_cost"])))
                                
                    #print(str(row["email"]), str(row["customer_name"]), str(row["order_id"]),str(row["product_name"]), str(row["quantity"]),str(row["order_date"]),str(row["location"]),str(row["phone"]), str(row["product_cost"]))
                except Exception as e:
                    print('error- ',e)
                    print(str(row["email"]), str(row["customer_name"]).strip(), str(row["order_id"]),str(row["product_name"]), str(row["quantity"]),str(row["order_date"]),str(row["location"]),str(row["phone"]), str(row["product_cost"]))
                
            conn.commit()



if __name__ == "__main__":
    try:
        create_table()
        print(1)
        logging.info("Successfully created customer_info table.")
        # Load customer information data from S3
        print(2)
        load_data_to_postgres("data-engineer-challenge/orders-01.csv")
        print(3)
        logging.info("Successfully loaded customer information data to Postgres.")
        #create_view()
        logging.info("Successfully created customer_order_info view.")
    except Exception as e:
        logging.error(f"An error occurred: {e}")
    finally:
        cur.close()
        conn.close()
        print('DONE!')

1
2
data-engineer-challenge/orders-01.csv
try:  juliawilliams@email.com Julia Williams 6 Monitor 1 2022-06-01 Seattle 555-555-5560 300
try:  jamesthompson@email.com James Thompson 7 Keyboard 2 2022-07-01 San Francisco 555-555-5561 50
try:  amandamiller@email.com Amanda Miller 8 Mouse 3 2022-08-01 Boston 555-555-5562 25
try:  nicholasgarcia@email.com Nicholas Garcia 9 Printer 1 2022-09-01 Miami 555-555-5563 200
try:  kevinmartinez@email.com Kevin Martinez 10 Headset 2 2022-10-01 Dallas 555-555-5564 80
data-engineer-challenge/orders-02.csv
try:  loganjones@email.com Logan Jones 25 Desktop 1 2022-06-01 San Antonio 555-555-5579 900
try:  averywilson@email.com Avery Wilson 26 Monitor 2 2022-07-01 Orlando 555-555-5580 300
try:  oliveranderson@email.com Oliver Anderson 27 Keyboard 3 2022-08-01 Raleigh 555-555-5581 50
try:  miataylor@email.com Mia Taylor 28 Mouse  2022-09-01 Nashville 555-555-5582 25
error-  invalid input syntax for type integer: ""
LINE 13: ...miataylor@email.com', 'MiaTaylor', '28', 'Mouse', '', '2022-...
                                                              ^

miataylor@email.com Mia Taylor 28 Mouse  2022-09-01 Nashville 555-555-5582 25
try:  abigailsmith@email.com Abigail Smith 29 Printer 2 2022-10-01 Charlotte 555-555-5583 200
error-  current transaction is aborted, commands ignored until end of transaction block

abigailsmith@email.com Abigail Smith 29 Printer 2 2022-10-01 Charlotte 555-555-5583 200
try:  ethanjones@email.com Ethan Jones 30 Headset 3 2022-11-01 Kansas City 555-555-5584 80
error-  current transaction is aborted, commands ignored until end of transaction block

ethanjones@email.com Ethan Jones 30 Headset 3 2022-11-01 Kansas City 555-555-5584 80
try:  masonanderson@email.com Mason Anderson 31 Speakers 1 2022-12-01 Sacramento 555-555-5585 100
error-  current transaction is aborted, commands ignored until end of transaction block

masonanderson@email.com Mason Anderson 31 Speakers 1 2022-12-01 Sacramento 555-555-5585 100
data-engineer-challenge/orders-03.csv
try:  sophiawilson@email.com Sophia Wilson 32 Laptop 1 2022-06-01 Tampa 555-555-5586 800
try:  averyjones@email.com Avery Jones 33 Tablet  2022-07-01 Las Vegas 555-555-5587 500
error-  invalid input syntax for type integer: ""
LINE 13: ...ryjones@email.com', 'AveryJones', '33', 'Tablet', '', '2022-...
                                                              ^

averyjones@email.com Avery Jones 33 Tablet  2022-07-01 Las Vegas 555-555-5587 500
try:  miaanderson@email.com Mia Anderson 34 Smartphone 3 2022-08-01 Columbus 555-555-5588 300
error-  current transaction is aborted, commands ignored until end of transaction block

miaanderson@email.com Mia Anderson 34 Smartphone 3 2022-08-01 Columbus 555-555-5588 300
try:  ethanwilson@email.com Ethan Wilson 35 Hard Drive 1 2022-09-01 St. Louis 555-555-5589 100
error-  current transaction is aborted, commands ignored until end of transaction block

ethanwilson@email.com Ethan Wilson 35 Hard Drive 1 2022-09-01 St. Louis 555-555-5589 100
try:  abigailjones@email.com Abigail Jones 36 Charger 2 2022-10-01 Detroit 555-555-5590 30
error-  current transaction is aborted, commands ignored until end of transaction block

abigailjones@email.com Abigail Jones 36 Charger 2 2022-10-01 Detroit 555-555-5590 30
try:  oliverwilson@email.com Oliver Wilson 37 Battery 3 2022-11-01 Denver 555-555-5591 20
error-  current transaction is aborted, commands ignored until end of transaction block

oliverwilson@email.com Oliver Wilson 37 Battery 3 2022-11-01 Denver 555-555-5591 20
try:  miaanderson@email.com Mia Anderson 38 Case 1 2022-12-01 Seattle 555-555-5592 10
error-  current transaction is aborted, commands ignored until end of transaction block

miaanderson@email.com Mia Anderson 38 Case 1 2022-12-01 Seattle 555-555-5592 10
data-engineer-challenge/orders-04.csv
try:  avajohnson@email.com Ava Johnson 11 Laptop 1 2022-06-01 New York 555-555-5565 800
try:  ethansmith@email.com Ethan Smith 12 Tablet 2 2022-07-01 Los Angeles 555-555-5566 500
try:  sophialee@email.com Sophia Lee 13 Smartphone 3 2022-08-01 Chicago 555-555-5567 300
try:  williamdavis@email.com William Davis 14 Hard Drive 1 2022-09-01 Houston 555-555-5568 100
try:  emilyhernandez@email.com Emily Hernandez 15 Charger 2 2022-10-01 Philadelphia 555-555-5569 30
try:  oliviagonzalez@email.com Olivia Gonzalez 16 Battery 3 2022-11-01 Phoenix 555-555-5570 20
try:  miamartinez@email.com Mia Martinez 17 Charger 2 2022-12-01 San Diego 555-555-5571
error-  invalid input syntax for type integer: ""
LINE 13: ...Charger', '2', '2022-12-01', 'San Diego', '555-555-5571', ''
                                                                      ^

miamartinez@email.com Mia Martinez 17 Charger 2 2022-12-01 San Diego 555-555-5571
data-engineer-challenge/orders-05.csv
try:  masonwilson@email.com Mason Wilson 18 Camera 1 2022-06-01 Denver 555-555-5572 400
try:  isabellaanderson@email.com Isabella Anderson 19 Memory Card 2 2022-07-01 Portland 555-555-5573 50
try:  evelyntaylor@email.com Evelyn Taylor 20 Tripod 3 2022-08-01 Austin 555-555-5574 70
try:  liamsmith@email.com Liam Smith 21 Lens 1 2022-09-01 Minneapolis 555-555-5575 200
try:  averyhernandez@email.com Avery Hernandez 22 Bag 2 2022-10-01 New Orleans 555-555-5576 40
try:  aidengarcia@email.com Aiden Garcia 23 Filters 3 2022-11-01 Indianapolis 555-555-5577 30
try:  Pittsburgh Natalie Davis 24 Mouse 1 555-555-5578 2022-12-01 nataliydavis@email.com
error-  invalid input syntax for type integer: ""
LINE 13: ..., '555-555-5578', '2022-12-01', 'nataliydavis@email.com', ''
                                                                      ^

Pittsburgh Natalie Davis 24 Mouse 1 555-555-5578 2022-12-01 nataliydavis@email.com
3
DONE!